In [1]:
import os
"""
    references: 
        https://python101.pythonlibrary.org/chapter16_os.html#os-walk
        
"""

In [3]:
os.getcwd()

'/home/kvothe/sandy/Animal_Behavior_Prediciton/scripts'

In [10]:
path = r'../data/'
#getting all the files in data drc.
for root,dirs,files in os.walk(path):
    for _file in files :
        print(_file)

LEDguidance_convert_bag.sh
2019-12-04-20-31-36_rosbag_info.txt
2019-12-04-20-31-36_spatial_imu.csv
2019-12-04-20-31-36_spatial_posture.csv
2019-12-04-20-31-36_joy.csv
2019-12-04-20-31-36.bag
2019-12-04-20-18-32.bag
2019-12-04-20-18-32_joy.csv
2019-12-04-20-18-32_spatial_imu.csv
2019-12-04-20-18-32_rosbag_info.txt
2019-12-04-20-18-32_spatial_posture.csv
2019-12-04-20-33-31_spatial_imu.csv
2019-12-04-20-33-31_rosbag_info.txt
2019-12-04-20-33-31_joy.csv
2019-12-04-20-33-31_spatial_posture.csv
2019-12-04-20-33-31.bag

In [16]:
#TODO : TAKE TWO FILES AND CONVET THEM TO DATAFRAMES
#todo : importing os and using os to get files
joy_path = '../data/ros_bag/2019-12-04-20-18-32/2019-12-04-20-18-32_joy.csv'
imu_path = '../data/ros_bag/2019-12-04-20-18-32/2019-12-04-20-18-32_spatial_imu.csv'
# todo : using psandas to solve this and make two data frames s

import pandas as pd

joy_df = pd.read_csv(joy_path)

joy_df.head(2)

,%time,field.header.seq,field.header.stamp,field.header.frame_id,field.axes0,field.axes1,field.axes2,field.axes3,field.axes4,field.axes5,...,field.buttons1,field.buttons2,field.buttons3,field.buttons4,field.buttons5,field.buttons6,field.buttons7,field.buttons8,field.buttons9,field.buttons10
0,1575458334242978652,15,1575458334240276040,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
1,1575458335013894273,16,1575458335012318198,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
type(joy_df.loc[:,'%time'][0])

numpy.int64